<div class="container-fluid">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/personlist">Express Styling</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
       {{#each person}}
    <li class="list-group">
        <a href="/personlist{{person.name}}" class="nav-link" role="button" aria-pressed="true">{{this.name}}</a>
        <!--<a href="/{{this.name}}">{{this.name}}</a> -->
    </li>
   {{/each}}
    </ul>
  </div>
</nav>
</div>
