<div class="col-xs-1 center-block">
<ul class="list-group">
    {{#each person}}
    <li class="list-group">
        <a href="/personlist/{{this.name}}" class="btn btn-secondary btn-lg secondary mt-4 pr-3 pl-3" id="btnStyle" role="button" aria-pressed="true">{{this.name}}</a>
        <!--<a href="/{{this.name}}">{{this.name}}</a> -->
    </li>
   {{/each}}
</ul>
</div>
